version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: taskflow-postgres
    environment:
      POSTGRES_USER: taskflow
      POSTGRES_PASSWORD: taskflow
      POSTGRES_DB: authdb
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - taskflow-net

  redis:
    image: redis:7
    container_name: taskflow-redis
    ports:
      - "6379:6379"
    networks:
      - taskflow-net

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/authdb
      - SPRING_DATASOURCE_USERNAME=taskflow
      - SPRING_DATASOURCE_PASSWORD=taskflow
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    depends_on:
      - postgres
    networks:
      - taskflow-net

  gateway-service:
    build:
      context: .
      dockerfile: gateway-service/Dockerfile
    container_name: gateway-service
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - redis
    networks:
      - taskflow-net

volumes:
  pgdata:

networks:
  taskflow-net:
