server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenish-rate: 5
                redis-rate-limiter.burst-capacity: 10
                key-resolver: "#{@ipKeyResolver}"

  data:
    redis:
      host: redis
      port: 6379

jwt:
  secret: your-very-secret-key-here
  expiration: 3600000