server:
  port: 8082

spring:
  application:
    name: auth-service

  cloud:
    aws:
      region:
        static: us-east-1
      credentials:
        access-key: test
        secret-key: test
      endpoint:
        sqs: http://localhost:4566
    sqs:
      enabled: true

  jackson:
    serialization:
      indent_output: true

logging:
  level:
    root: INFO
    com.taskflow: DEBUG
    software.amazon.awssdk: WARN

aws:
  sqs:
    user-created-queue: user-created-queue
