server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/authdb
    username: taskflow
    password: taskflow   
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  sql:
    init: 
      mode: never
  application:
    name: auth-service
  data:
    redis:
      host: redis
      port: 6379

jwt:
  secret: "supersecretkeysupersecretkey123"
  expiration: 3600000