server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/taskflow
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  application:
    name: auth-service
  data:
    redis:
      host: redis
      port: 6379

jwt:
  secret: "supersecretkeysupersecretkey123"
  expiration: 3600000
