name: Smart Microservices CI

on:
  push:
    branches:
      - main
    paths:
      - '**'   # Trigger detection on any file change

jobs:
  detect_changed_services:
    runs-on: ubuntu-latest

    outputs:
      services: ${{ steps.jsonify.outputs.json }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect changed microservices
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            auth-service:
              - 'auth-service/**'
            employee-service:
              - 'employee-service/**'

      - name: Convert changed list to JSON array
        id: jsonify
        run: |
          changed_services=()
          if [[ "${{ steps.filter.outputs.auth-service }}" == 'true' ]]; then
            changed_services+=("auth-service")
          fi
          if [[ "${{ steps.filter.outputs.employee-service }}" == 'true' ]]; then
            changed_services+=("employee-service")
          fi

          if [ ${#changed_services[@]} -eq 0 ]; then
            echo "json=[]" >> $GITHUB_OUTPUT
          else
            json=$(printf '%s\n' "${changed_services[@]}" | jq -R . | jq -cs .)
            echo "json=${json}" >> $GITHUB_OUTPUT
          fi



  build_and_push:
    needs: detect_changed_services
    if: needs.detect_changed_services.outputs.services != '[]'
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: ${{ fromJson(needs.detect_changed_services.outputs.services) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Debug services output
        run: |
          echo "Services: ${{ needs.detect_changed_services.outputs.services }}"

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: "23"
          distribution: "temurin"
          cache: maven

      - name: Build JAR for ${{ matrix.service }}
        working-directory: ./${{ matrix.service }}
        run: mvn -B -Dspring.profiles.active=test clean install

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate Version Tag
        run: echo "VERSION=$(date +'%Y.%m.%d-%H%M')" >> $GITHUB_ENV

      - name: Build Docker Image (${{ matrix.service }})
        working-directory: ./${{ matrix.service }}
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ env.VERSION }} .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ env.VERSION }} \
                     ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest

      - name: Push Docker Images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ env.VERSION }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest
