name: Smart Microservices CI

on:
  push:
    branches:
      - main
    paths:
      - '**' # detect any change

jobs:
  detect_changed_services:
    runs-on: ubuntu-latest

    outputs:
      services: ${{ steps.filter.outputs.changed }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect changed microservices
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            auth-service:
              - 'auth-service/**'

  build_and_push:
    needs: detect_changed_services
    runs-on: ubuntu-latest

    if: ${{ needs.detect_changed_services.outputs.services != '[]' }}

    strategy:
      matrix:
        service: ${{ fromJson(needs.detect_changed_services.outputs.services) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build JAR
        run: mvn -B -Dspring.profiles.active=test clean install
        working-directory: ./${{ matrix.service }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate Version Tag
        run: echo "VERSION=$(date +'%Y.%m.%d-%H%M')" >> $GITHUB_ENV

      - name: Build Docker Image
        working-directory: ./${{ matrix.service }}
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ env.VERSION }} .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ env.VERSION }} \
                      ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest

      - name: Push Docker Images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ env.VERSION }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest