name: Smart Microservices CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md' 
      - '.gitignore'

jobs:
  detect_changed_services:
    runs-on: ubuntu-latest

    outputs:
      services: ${{ steps.service_output.outputs.json }}
      run_full_build: ${{ steps.filter.outputs.common }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup jq
        run: sudo apt-get install jq -y

      - name: Detect changed microservices
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            common:
              - 'pom.xml'
              - '.github/workflows/**'
            auth-service:
              - 'auth-service/**'
            gateway-service:
              - 'gateway-service/**'

      - name: Determine list of services to build
        id: service_output
        run: |
          ALL_SERVICES=("auth-service" "gateway-service")

          CHANGED_SERVICES_ARRAY=()

          if [[ "${{ steps.filter.outputs.common }}" == 'true' ]]; then
            CHANGED_SERVICES_ARRAY=("${ALL_SERVICES[@]}")
          else
            # Dump all outputs into a JSON object
            FILTER_OUTPUT='${{ toJson(steps.filter.outputs) }}'

            for service in "${ALL_SERVICES[@]}"; do
              if echo "$FILTER_OUTPUT" | jq -e ".\"$service\" == true" > /dev/null; then
                CHANGED_SERVICES_ARRAY+=("$service")
              fi
            done
          fi

          if [ ${#CHANGED_SERVICES_ARRAY[@]} -eq 0 ]; then
            JSON_OUTPUT="[]"
          else
            JSON_OUTPUT=$(printf '%s\n' "${CHANGED_SERVICES_ARRAY[@]}" | jq -R . | jq -cs .)
          fi

          echo "Detected services to build: ${JSON_OUTPUT}"
          echo "json=${JSON_OUTPUT}" >> $GITHUB_OUTPUT


  build_and_push:
    needs: detect_changed_services
    if: needs.detect_changed_services.outputs.services != '[]'
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: ${{ fromJson(needs.detect_changed_services.outputs.services) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Debug services output for ${{ matrix.service }}
        run: 'echo "Starting build for service: ${{ matrix.service }}"'

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: "23"
          distribution: "temurin"
          cache: maven

      - name: Build JAR for ${{ matrix.service }}
        working-directory: ./${{ matrix.service }}
        run: mvn -B -Dspring.profiles.active=test clean install 

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate Version Tag
        run: echo "VERSION=$(date +'%Y.%m.%d-%H%M')" >> $GITHUB_ENV

      - name: Build Docker Image (${{ matrix.service }})
        run: |
          docker build \
            -f ./${{ matrix.service }}/Dockerfile \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ env.VERSION }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest \
            ./${{ matrix.service }}
            .

      - name: Push Docker Images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ env.VERSION }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest
